var load = '加载中 . . .';
var loadEnd = '已加载全部内容';
var level1 ='暂无等级';
var level2 = '合伙人';
var level3 = '联创';
var level4 = '总代';
var loading = function (s) {
  switch (s) {
    case 1:
      return load;
      break
    case 2:
      return loadEnd;
      break
    default:
      return load;
      break
  }
}

var level = function (s) {
  switch (s) {
    case 0:
      return level1;
      break;
    case 1:
      return level2;
      break;
    case 2:
      return level3;
      break;
    case 3:
      return level4;
      break;
    default:
      return level1;
      break;
  }
}

module.exports = {
  loading: loading,
  load: load,
  loadEnd: loadEnd,
  level: level,
  level1: level1,
  level2: level2,
  level3: level3,
  level4: level4
 
};